.carousel-section{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

.carousel .dark-opacity{
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel .carousel-indicators{
    right: unset;
    align-items: center;
    z-index: 99;
}

.carousel .carousel-indicators .active{
    width: 20px;
    background: #EBA83A;
    border-radius: 100%;
}